@{
    ViewData["Title"] = "Inicio";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Bienvenido a Jardinería Hermanos Hernández</h1>
    <p class="lead">Gestiona de manera eficiente tus empleados, maquinarias, clientes y mantenimientos.</p>
</div>
