/* wwwroot/css/site.css */

/* Estilos personalizados */

body {
    background-color: #f8f9fa;
}

h1, h3, h4 {
    color: #343a40;
}

.card {
    margin-bottom: 20px;
}

.btn {
    min-width: 80px;
}

.table th, .table td {
    vertical-align: middle;
}

.form-label {
    font-weight: 500;
}

.alert {
    margin-top: 20px; 
    margin-bottom: 20px; 
  
}
.flex-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-action {
    color: #808080;
    text-decoration: none;
    margin-right: 10px;
}

.icon-action-delete {
    color: #dc3545; 
    text-decoration: none;
}
